In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from apyori import apriori
from sklearn import preprocessing

In [3]:
df = pd.read_csv('association_analysis.csv')

In [5]:
df.head()

   tid  onion  tomato  potato  bottleguard  beans
0    1      1       0       1            0      0
1    2      1       0       0            1      1
2    3      0       0       1            0      0
3    4      0       1       1            1      1
4    5      1       1       1            0      0

In [6]:
#As tid or transaction id is useless, we can simply remove it
df.drop(['tid'],axis=1,inplace=True)

In [7]:
df.head()

   onion  tomato  potato  bottleguard  beans
0      1       0       1            0      0
1      1       0       0            1      1
2      0       0       1            0      0
3      0       1       1            1      1
4      1       1       1            0      0

In [9]:
# We need to simply form the records.
records = []
for i in range(len(df)):
    record = []
    for j in range(len(df.columns)):
        if df.values[i,j]:
            # We just add the column.
            record.append(df.columns[j])
    records.append(record)
print(records)

[['onion', 'potato'], ['onion', 'bottleguard', 'beans'], ['potato'], ['tomato', 'potato', 'bottleguard', 'beans'], ['onion', 'tomato', 'potato'], ['tomato', 'bottleguard', 'beans'], ['tomato'], ['onion', 'potato'], ['tomato', 'potato', 'beans'], ['tomato'], ['onion', 'tomato'], ['onion', 'tomato'], ['onion', 'beans'], ['tomato', 'bottleguard', 'beans'], ['onion', 'potato', 'bottleguard'], ['tomato', 'bottleguard', 'beans'], ['bottleguard'], ['tomato', 'bottleguard', 'beans'], ['onion', 'beans'], ['onion', 'tomato', 'beans'], ['onion', 'tomato', 'potato', 'bottleguard'], ['onion', 'tomato', 'potato', 'beans'], ['potato', 'bottleguard'], ['onion'], ['onion', 'tomato', 'potato', 'bottleguard', 'beans'], ['onion', 'tomato'], ['tomato', 'potato', 'bottleguard', 'beans'], ['onion', 'bottleguard'], ['onion', 'potato', 'bottleguard', 'beans'], ['tomato', 'beans'], ['onion', 'tomato', 'potato', 'bottleguard', 'beans'], ['potato'], ['tomato', 'potato'], ['potato', 'beans'], ['potato', 'bottleguard'], ['onion', 'tomato', 'potato'], ['onion', 'tomato', 'potato', 'bottleguard'], ['beans'], ['onion', 'potato', 'beans'], ['onion', 'bottleguard', 'beans'], ['onion', 'tomato', 'beans'], ['tomato', 'potato'], ['potato'], ['beans'], ['bottleguard'], ['tomato', 'bottleguard', 'beans'], ['onion', 'tomato', 'potato', 'beans'], ['bottleguard'], ['tomato', 'potato', 'bottleguard'], ['onion', 'tomato', 'bottleguard'], ['onion', 'tomato', 'potato', 'bottleguard', 'beans']]

In [10]:
print(records[:3])

[['onion', 'potato'], ['onion', 'bottleguard', 'beans'], ['potato']]

In [ ]:
#We get all the items in the form of the list.

In [11]:
min_sup = 0.03
min_confidence = 0.7
#Pass all the records we have
rules = apriori(records,min_support=min_sup,min_confidence=min_confidence)
rules = list(rules)

In [17]:
for i in rules[0]:
    print(i)

frozenset({'bottleguard', 'tomato', 'beans'})
0.19607843137254902
[OrderedStatistic(items_base=frozenset({'bottleguard', 'beans'}), items_add=frozenset({'tomato'}), confidence=0.7692307692307693, lift=1.3527851458885942), OrderedStatistic(items_base=frozenset({'bottleguard', 'tomato'}), items_add=frozenset({'beans'}), confidence=0.7142857142857142, lift=1.457142857142857)]

In [19]:
for rule in rules:
    items = [i for i in rule[0]]
    print("Rule: ", items, "Support", rule[1], "Confidence: ",rule[2][0][2])

Rule:  ['bottleguard', 'tomato', 'beans'] Support 0.19607843137254902 Confidence:  0.7692307692307693
Rule:  ['tomato', 'beans', 'potato'] Support 0.1568627450980392 Confidence:  0.7272727272727272
Rule:  ['bottleguard', 'tomato', 'beans', 'potato'] Support 0.09803921568627451 Confidence:  0.8333333333333334
Rule:  ['tomato', 'beans', 'potato', 'onion'] Support 0.09803921568627451 Confidence:  0.7142857142857142
Rule:  ['bottleguard', 'tomato', 'potato', 'onion'] Support 0.09803921568627451 Confidence:  0.7142857142857142
Rule:  ['bottleguard', 'tomato', 'potato', 'onion', 'beans'] Support 0.058823529411764705 Confidence:  0.75